CI_ENVIRONMENT=development
CI_DOMAIN=ci4app.local

DB_DRIVER=MySQLi
DB_HOST=mysql
#DB_DRIVER=Postgre
#DB_HOST=postgres
DB_NAME=ci4app_db
DB_USER=ci4app_user
DB_PASS=ci4app_pass

MERCURE_PUBLISHER_JWT='!ChangeThisMercureHubJWTSecretKey!'
MERCURE_SUBSCRIBER_JWT='!ChangeThisMercureHubJWTSecretKey!'

