{$CI_DOMAIN} {

    # Enable Mercure
    mercure {
        use_forwarded_headers true
        publisher_jwt {$MERCURE_PUBLISHER_JWT}
        subscriber_jwt {$MERCURE_SUBSCRIBER_JWT}
        debug true
    }

    # Enable phpmyadmin path
    @pma {
        path /pma
    }
    redir @pma /pma/

    route /pma* {
        uri strip_prefix /pma
        reverse_proxy http://phpmyadmin:80 {
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
        }
    }

    # Serve the CodeIgniter application from the public directory
    root * /var/www/html/public

    # Ensure that requests for Adminer and Mercure are excluded from CodeIgniter routing
    @ci4app not path /pma* /.well-known*

    # Define the try_files directive for CodeIgniter's front controller
    handle @ci4app {
        try_files {path} {path}/ /index.php?{query}
        php_fastcgi ci4app:9000 {
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
        }
    }

    # Enable the file server for serving static files
    file_server
}
